
* {
	box-sizing: border-box;
}

body {
	background-color: 			white;
	overflow: 					hidden;
	transition: 				background-color .25s;
	overflow-x: scroll;
	overflow-y: scroll;
}

/* Column containers */
.mainBlockContainer {
	display: flex;
	flex-direction: column;
  }

.topBlockContainer {
	
  }

.bottomBlockContainer {

  }

  /* Containers content */
  .legend {
	display: flex;
	flex-direction: row;
	width:	100%;
  }

  .legend > div{
	margin-left: 10px;
	height: 100%;
	padding: 5px;
	border-radius: 4px;
}

  .tableContainer {
	-ms-flex: 20%; /* IE10 */
	flex: 20%;
	background-color: white;
	padding: 0px;
  }

  .rack {
	background-color: transparent;
	border: 2px solid;
	height: 330px;
	width:	200px;
	float: left;
	margin-left: 20px;
	margin-top: 18px;
  }

  .topRack {
	width: 100%;
	float: left;
  }

  .bottomRack {
	width: 100%;
	float: left;
  }

  .rackShelf {
	background-color: transparent;
	border: 2px solid;
	width: 97%;
    height: 23px;
	margin: 1px;
	float: left;
  }

  .led {
	border-radius: 50%;
	width: 20px;
    height: 20px;
	background-color: gray;
	margin: 2px;
	float: left;
  }

  .temper {
	width: 25%;
    height: 19px;
	background-color: gray;
	margin: 2px;
	font-size-adjust: ic-height;
    padding-top: 0px;
	float: left;
  }

  .nodeLed {
	border-radius: 50%;
	width: 15px;
    height: 15px;
	background-color: gray;
	margin: 2px;
	float: left;
  }

  .nodeTemper {
	width:35%;
    height: 15px;
	background-color: gray;
	margin: 2px;
	float: left;
  }

    /* PV button */
  .pvButton {
	height: 100%;
	width: 100%;
	color: white;
	border: none;
	background-color: transparent;
  }
	
  .pvButton:hover {
	background-color: lightcoral;
	transition: 0.7s;
  }
	
  .pvLedButton {
	position:relative;
	top:-2px;
	border-radius: 50%;
	height: 98%;
	width: 98%;
	color: white;
	border: none;
	background-color: transparent;
  }
	
  .pvLedButton:hover {
	background-color: lightcoral;
	transition: 0.7s;
  }
	
	/*Button text */
  .temperText {
	position:relative;
	top:-4px;
	width:100%;
	height: 100%;
	background-color: transparent;
  }

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.topBlockContainer {
	  flex-direction: column;
	}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.topBlockContainer {
		flex-direction: column;
	  }
}
