*~
\#*\#
bin
build_*
cetpkg_variable_report
checkinAll.log
core.*
Data*
databases
databases*
diag_report
download
NoGit*
obj
otsdaq-demo/tmp/
otsdaq_demo-v1_00_00
products
*ProgressBarData*
setupARTDAQOTS
*.vcxproj*
