export DCS_ARCHIVE_DATABASE="FAKE"
export DCS_ARCHIVE_DATABASE_HOST="FAKE"
export DCS_ARCHIVE_DATABASE_PORT="0000"
export DCS_ARCHIVE_DATABASE_USER="FAKE"
export DCS_ARCHIVE_DATABASE_PWD="FAKE"

export OTSDAQ_COMPILE_RUNINFO="1"
export OTSDAQ_RUNINFO_DATABASE="FAKE"
export OTSDAQ_RUNINFO_DATABASE_HOST="FAKE"
export OTSDAQ_RUNINFO_DATABASE_PORT="0000"
export OTSDAQ_RUNINFO_DATABASE_USER="FAKE"
export OTSDAQ_RUNINFO_DATABASE_PWD="FAKE"
