
* {
	box-sizing: border-box;
}

body {
	background-color: 			white;
	overflow: 					hidden;
	transition: 				background-color .25s;
	overflow-x: scroll;
	overflow-y: scroll;
}

/* Column containers */
.mainBlockContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: fit-content;
	overflow-x: auto;
  }

  .mainBlockContainer span {
	display: inline-block;
  }


.topBlockContainer {
	
  }

.bottomBlockContainer {

  }

.subSystemContainer {
    display: inline-flex;
    border: 2px solid;
    margin-left: 20px;
    margin-top: 18px;
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
}

/*mainFrame*/
.caloFrame {
	height: 100%;
	width: 100%;
	border: none;
	min-height: 200px;
}