
* {
	box-sizing: border-box;
}

body {
	background-color: 			white;
	overflow: 					hidden;
	transition: 				background-color .25s;
	overflow-x: scroll;
	overflow-y: scroll;
}

/* Column containers */
.mainBlockContainer {

	display: flex;
	flex-direction: column;
	margin: 20px;
  }
  
  /* Main column */
  .tableContainer {
	width: 100%;
	height: 100%;
	background-color: white;
  }

   /* TIME button */
   .pvButton {
	margin-left: 3px;
	margin-bottom: 6px;
  }

  table, th, td {
	!border: 0px solid grey;
	border-collapse: collapse;
  }
  
  a {
	font-size: 1vw;
  }