
* {
	box-sizing: border-box;
}

body {
	background-color: 			white;
	overflow: 					hidden;
	transition: 				background-color .25s;
	overflow-x: scroll;
	overflow-y: scroll;
}

/* Style the top navigation bar */
.navbar {
	overflow: hidden;
	background-color: #111;
}

	/* Style the navigation bar links */
	.navbar a {
		float: left;
		display: block;
		color: white;
		text-align: center;
		padding: 14px 20px;
		text-decoration: none;
		cursor: pointer;
	}

	.navbar span {
		float: left;
		display: block;
		color: white;
		text-align: center;
		padding: 14px 20px;
		text-decoration: none;
	}

	/* Right-aligned link */
	.navbar a.right {
		float: right;
	}

	/* Change color on hover */
	.navbar a:hover {
		background-color: #ddd;
		color: black;
	}

/* Fixed sidenav, full height */
.sidenav {
	float: left;
	height: 100vh;
	width: 200px;
	/*position: fixed;*/
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

	/* Style the sidenav links and the dropdown button */
	.sidenav a, .dropdown-btn {
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 20px;
		color: #818181;
		display: block;
		border: none;
		background: none;
		width:100%;
		text-align: left;
		cursor: pointer;
		outline: none;
	}

	/* On mouse-over */
	.sidenav a:hover, .dropdown-btn:hover {
		color: #f1f1f1;
	}

	.sidenav a, .open-page-btn {
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 20px;
		color: #818181;
		display: block;
		border: none;
		background: none;
		width:100%;
		text-align: left;
		cursor: pointer;
		outline: none;
	}

	/* On mouse-over */
	.sidenav a:hover, .open-page-btn:hover {
		color: #f1f1f1;
	}

	/* Add an active class to the active dropdown button */
	.active {
		background-color: green;
		color: white;
	}

	/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
	.dropdown-container {
		display: none;
		background-color: #262626;
		padding-left: 8px;
	}

	/* Optional: Style the caret down icon */
	.fa-caret-down {
		float: right;
		padding-right: 8px;
	}

	/*LOGO*/
	.logo {
		color: white;
		font-size: 25px;
		text-align: center;
	}

/* Column container */
.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
  }

  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
	/*-ms-flex: 20%;*/ /* IE10 */
	/*flex: 20%;*/
	background-color: #111;
	padding: 0px;
  }

  /* Main column */
  .main {
	-ms-flex: 80%; /* IE10 */
	flex: 80%;
	background-color: rgb(213, 227, 245);
	padding: 0px;
  }

/*mainFrame*/
.mainFrame {
	height: 100%;
	width: 100%;
	border: none;
	min-height: 800px;
}

/* Footer */
.footer {
	color: white;
	padding: 1px;
	text-align: center;
	background: #111;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 700px) { */
/* 	.row { */
/* 	  flex-direction: column; */
/* 	} */
/* } */

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/* @media screen and (max-width: 400px) { */
/* 	.navbar a { */
/* 	  float: none; */
/* 	  width:100%; */
/* 	} */
/* } */